body{
    background-color: darkolivegreen;
    color: white;
    font-family: "Sofadi One", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button{ 
    background-color: rgb(96, 175, 17);
    color: white;
    font-family: "Sofadi One", system-ui;
}

.passo {
    display: none;

}
.passo.ativo {
    display: block;
}

main{
    text-align: center;
    max-width: 70%;
   

}
img{
    max-width: 70%;
  
}